---
import Layout from "../../../layouts/Layout.astro";

import { Image } from "astro:assets";
import SampleScreenShot from "../images/SampleScreenShot.jpg";
---

<Layout title="VisualGit Tutorial - Merging">
  <main class="color:c1text2">
    <div
      class="display:flex flex-direction:column gap:40px margin-top:lg align-items:center justify-content:space-around width:100% margin-bottom:lg"
    >
      <iframe
        transition:name="mergeyt"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Fkx8THdQRXA?si=S1DIz7ESSR1H4QA6"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div
      class="display:flex flex-direction:column align-items:center font-size:lg"
    >
      <div
        class="font-size:xl margin-bottom:lg text-align:center margin-top:xl"
      >
        Merging
      </div>
      <div
        class="max-width:60ch margin-bottom:lg text-align:center align-self:center"
      >
        Merging takes all the commits on the target branch and applies those
        changes to current branch. This results in a single new commit being
        created on the current branch and the history of those commits being
        condensed down into a single history entry.
      </div>
      <img
        class="align-self:center width:500px"
        src="/mergesetup.jpg"
        alt="merge setup showing branch to be merged"
      />
      <div
        class="margin-top:lg margin-bottom:lg align-self:center max-width:60ch"
      >
        Once we perform the Merge we get our new commit appended to the current
        branch
      </div>
      <img
        class="align-self:center width:500px"
        src="/mergecomplete.jpg"
        alt="State of play after merge has been completed"
      />
      <div
        class="margin-top:lg margin-bottom:lg align-self:center max-width:60ch"
      >
        One thing to note about merging is that it will create a branch in the
        history (compared to a rebase which will not). This can be seen below
      </div>
      <img
        class="align-self:center width:500px"
        src="/branchedloghistory.jpg"
        alt="State of play after merge has been completed"
      />
    </div>
  </main>
</Layout>
