---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact Us">
  <main>
    <section style="border-sizing:border-box" class="color:c1text2 margin-bottom:xl lg?margin-bottom:2xl overflow-wrap:break-word">
      <div
        class="font-size:xl margin-left:xl padding-top:lg text-align:left titleFont lg?font-size:xl"
      >
        Contact Us
    </div>
      <div
        class="display:flex flex-direction:column xs?flex-direction:row xs?flex-wrap:wrap justify-items:center"
      >
        <div class="margin:xl">
          <div class="font-size:lg">Pop a mail to:</div>
          <div class="font-size:md">support@visualgit.net</div>
        </div>

        <a
          href="https://github.com/MarkJamesHoward/VisualGitCmd"
          class="font-size:md color:white text-decoration:none margin:xl"
        >
          <div class="margin-bottom:sm font-size:lg ">
            Visit the Repo to raise issues
          </div>
          <div class="font-size:md color:blue:hover">
            https://github.com/MarkJamesHoward/VisualGitCmd
          </div>
        </a>

        <a
          href="https://www.youtube.com/@Ashotofcode"
          class="font-size:lg margin:xl color:white text-decoration:none"
        >
          <div class="margin-bottom:sm">Pop me a tweet on X</div>
          <div class="font-size:md color:blue:hover">
            https://twitter.com/AShotOfCode
          </div>
        </a>

        <a
          href="https://www.youtube.com/@Ashotofcode"
          class="font-size:lg color:white text-decoration:none margin:xl"
        >
          <div class="margin-bottom:sm font-size:lg">
            Watch tutorial videos using VisualGit
          </div>
          <div class="font-size:md color:blue:hover">
            https://www.youtube.com/@Ashotofcode
          </div>
        </a>

        <a
          href="https://www.buymeacoffee.com/ashotofcode"
          class="font-size:md color:white text-decoration:none margin:xl"
        >
          <div class="margin-bottom:sm font-size:lg">Support me here</div>
          <div class="font-size:md color:blue:hover">
            https://www.buymeacoffee.com/ashotofcode
          </div>
        </a>
      </div>
    </section>
  </main>
</Layout>
