---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import SampleScreenShot from "../images/SampleScreenShot.jpg";
import git_rebase_thumbnail from "../images/git_rebase_thumbnail.png";
import rebase_vs_merge_thumbnail from "../images/rebase_vs_merge_thumbnail.png";
---

<Layout title="Tutorials">
  <main class="background-color:c1background1 margin-top:xl">

    <div class="display:flex flex-direction:row justify-content:center flex-wrap:wrap gap:30px padding:xl">
      
      
      <div class="tutorial-card">
        <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/rebase/rebasetutorial/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
             <div class="font-size:lg text-align:center">Git Rebasing</div>

            <iframe
              transition:name="rebaseyt"
              width="200"
              height="100"
              src="https://www.youtube-nocookie.com/embed/v3viOPSLAOc"
              title="Git Merging"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"
            ></iframe>
          
          </div>
        </a>
      </div>

       <div class="tutorial-card">
        <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/garbage/garbagetutorial/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
            <div class="font-size:lg text-align:center">
              Git Garbage 
            </div>
            <iframe
              transition:name="garbageyt"
              width="200"
              height="100"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              src="https://www.youtube-nocookie.com/embed/uxUmgN0KxkY"
              title="Git Garbage Collection"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"></iframe>
          </div>
        </a>
      </div>

      <div class="tutorial-card">
        
        <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/merge/mergetutorial/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
           
             <div class="font-size:lg text-align:center">Git Merge</div>

            <iframe
              transition:name="mergeyt"
              width="200"
              height="100"
              src="https://www.youtube-nocookie.com/embed/Fkx8THdQRXA"
              title="Git Merging"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"
            ></iframe>
          
          </div>
        </a>
      </div>
      
    
    

      <div class="tutorial-card">
         <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/merge/mergetypes/octopus/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
            <div class="font-size:lg text-align:center">Octopus Merge</div>
            <iframe
              transition:name="octopusyt"
              width="200"
              height="100"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              src="https://www.youtube-nocookie.com/embed/dvoMwkXyHB4"
              title="Octopus Merge"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"></iframe>
          </div>
        </a>
      </div>



       <div class="tutorial-card">
         <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/revert/reverttutorial/"
        >
         <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
            <div class="font-size:lg text-align:center">Git Revert</div>
            <iframe
              transition:name="revertyt"
              width="200"
              height="100"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              src="https://www.youtube-nocookie.com/embed/XJqQPNudPSY"
              title="Git Revert"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"></iframe>
          </div>
        </a>
      </div>

      <div class="tutorial-card">
        <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/branching/branchtutorial/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
            <div class="font-size:lg text-align:center">Git Branching</div>

            <iframe
              transition:name="branchyt"
              width="200"
              height="100"
              src="https://www.youtube-nocookie.com/embed/nifnpb2WyY4"
              title="Git Branching"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"
            ></iframe>
          </div>
        </a>
      </div>


      <div class="tutorial-card">
        <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/diff/difftutorial/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
            <div class="font-size:lg text-align:center">Git Diff</div>
            <iframe
              transition:name="diffyt"
              width="200"
              height="100"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              src="https://www.youtube-nocookie.com/embed/vXN50AmJjgY"
              title="Git Diff"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"></iframe>
          </div>
        </a>
      </div>

      <div class="tutorial-card">
        <a
          class="text-decoration:none width:100% color:c1text2 background-color:c1background1 tutorial-card-link"
          href="/tutorials/cherrypick/cherrypick/"
        >
          <div
            class="display:flex flex-direction:column align-items:center padding:lg background-color:c1background1"
          >
            <div class="font-size:lg text-align:center">Cherry Pick</div>
            <iframe
              transition:name="cherryyt"
              width="200"
              height="100"
              src="https://www.youtube-nocookie.com/embed/TkCawsNWuCY?controls=0&showinfo=0"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="origin"
              loading="lazy"
              allowfullscreen
              class="tutorial-thumb"></iframe>
          </div>
        </a>
      </div>
    </div>
  </main>

  <div class="font-size:lg padding:xl background:c1background3">
    <div
      class="margin-bottom:md color:c1text2 titleFont margin-top:xl text-align:center"
    >
      Full list of videos...
    </div>
    <a
      href="https://www.youtube.com/@Ashotofcode"
      class="text-align:center font-size:sm text-decoration:none color:white:hover margin-top:sm margin-bottom:2xl"
      target="_blank"
    >
      <div class="font-size:lg color:white:hover color:c1text2">
        https://www.youtube.com/@Ashotofcode
      </div>
    </a>
  </div>
</Layout>
